<div class="simple_desc">


	<h2><%= object[:title] %></h2>

	<%= object[:desc].html_safe %>

	<div class="start_menus">
		<ul class="list-unstyled list-group">
			<% if object[:anony] == "enable" %>
				<li class="list-group-item list-group-item-info"> <%= link_to 'スタート', object[:url] %> <small><span class="label label-default">ログイン</span></small> </li>
				<li class="list-group-item list-group-item-warning"> <%= link_to 'スタート', object[:url] + "&anony=true" %> </li>
			<% elsif object[:anony] == "disable" %>
				<li class="list-group-item list-group-item-info"> <%= link_to 'スタート', object[:url] %> <small><span class="label label-default">ログイン</span></small> </li>
			<% else %>		
				<li class="list-group-item list-group-item-warning"> <%= link_to 'スタート', object[:url] + "&anony=true" %> </li>
			<% end %>
		</ul>
	</div>
</div>
