<ul class="th-side-nav list-unstyled"> 
	<li class="th-top-nav-over"><a href=details.html class="th-side-nav-item-on">詳細</a></li> 
	<li class="th-side-nav-sub"> <%= link_to "ログインした場合に有効になる機能", effect_login_path %></li> 
	<li class="th-side-nav-sub"> <%= link_to "データ整備状況", data_path %></li> 
	<li class="th-side-nav-sub"> <%= link_to "アプリ:会計基準マスター", app_master_path %></li> 
	<li class="th-side-nav-sub"> <%= link_to "アプリ:会計基準実力テスト", app_exam_path %></li> 
	<li class="th-side-nav-sub"> <%= link_to "アプリ:財務諸表論ワークブック", app_workbook_path %></li> 
	<li class="th-side-nav-sub"> <%= link_to "受験に役立つサイト集", useful_links_path %></li> 
</ul> 
